nav {
  background-color: #0286B3;
}

body {
  background-color: #695466;
  background-image: url('../images/thread.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: 'Bitter', serif;
}

.card {
  font-size: 1.2em;
  background-color: #305E6E;
  color: white;
}
a {
  color: black;
}

footer.page-footer {
  text-align: right;
  background-color: #0286B3;
}

#img {
  height: 35vh;
}

.title {
  color: black;
}

.logo {
  height: 4em;
  width: 4em;
}

.card {
  margin-top: 15px;
  height: 65vh;
}

main {
  min-height: calc(100vh - 97px);
}

#mat, #about {
  height: auto;
}

@media screen and (max-width: 400px) {
  #craft {
    height: 50vh;
  }
  .img {
    height: 80px;
  }
}