{% extends 'base.html' %}
{% block content %}

<h2>{{ craft.name }}</h2>
<div class="card">
  <div class="card-content">
    <p>Type: {{ craft.type }}</p>
    <br>
    {% if craft.hours <= 1 %}
      <p>Time to make: {{ craft.hours }} hour</p>
    {% else %}
      <p>Time to make: {{ craft.hours }} hours</p>
    {% endif %}    
    <br>
    <p>Description: {{ craft.description }}</p>
  </div>
  <div class="card-action">
    <a href="{% url 'crafts_update' craft.id %}">Edit</a>
    <a href="{% url 'crafts_delete' craft.id %}">Delete</a>
  </div>
</div>

{% endblock %}