{% extends 'base.html' %}
{% block content %}

<h2 class="center-align">Crafts</h2>

{% for craft in crafts %}
  <div class="card">
    <a href="{% url 'detail' craft.id %}">
      <div class="card-content">
        <span class='card-title'>{{ craft.name }}</span>
        <p>Type: {{ craft.type }}</p>
        {% if craft.hours <= 1 %}
          <p>Time to make: {{ craft.hours }} hour</p>
        {% else %}
          <p>Time to make: {{ craft.hours }} hours</p>
        {% endif %}
        <p>Description: {{ craft.description }}</p>
        <p class="center-align">Made by: {{ craft.user }}</p>
      </div>
    </a>
  </div>
{% endfor %}

{% endblock %}